@media (min-width: 700px) {
  nav .navibar {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #498af2;
    z-index: 100;
  }

  nav .navibar a {
    text-decoration: none;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    transition: all 0.1s ease;
  }

  nav .navibar a:hover {
    color: #f8a408;
  }
}

.navbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
}

.navbar {
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #498af2;
  padding: 0;
}

.hamburger {
  display: none;
  margin: 0 20px 0 20px;
}

.navbar .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media only screen and (max-width: 700px) {
  .navibar {
    display: none;
  }

  .navbar {
    display: flex;
  }

  .navbar .nav-menu {
    position: absolute;
    left: -200%;
    top: 10px;
    flex-direction: column;
    background-color: #498af2;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 0;
    z-index: 200;
  }

  .navbar .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .nav-menu.active {
    left: 0;
  }

  .navbar .nav-item {
    margin: 0.8rem 0;
  }

  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }

  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* @media (max-width: 650px) {
  .navbar .nav-menu {
    position: absolute;
    left: -200%;
    top: 90px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 0;
  }
} */
