* {
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.navibar {
  justify-content: flex-end;
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
}

a:hover {
  font-size: 2-rem;
  font-family: Helvetica, sans-serif;
  color: #498af2;
}

a {
  margin-left: 20px;
  text-decoration: none;
}

.hamburger {
  display: block;
  color: #498af2;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.f6 {
  margin: 0 auto;
  padding: 20px;
  background-color: #ea3d13;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.f5 {
  margin: 0 auto;
  padding: 20px;
  background-color: #bcefa4;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.f4 {
  margin: 0 auto;
  padding: 20px;
  background-color: #6d49f2;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.f3 {
  margin: 0 auto;
  padding: 20px;
  background-color: #57bf26;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.f1 {
  margin: 0 auto;
  padding: 20px;
  background-color: #498af2;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.f_om_mig {
  margin: 0 auto;
  padding: 20px;
  background-color: #498af2;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

footer {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

img {
  width: 100%;
  margin-top: 20px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

.body_yellow {
  background-color: #f2cb05;
}

.body_orange {
  background-color: #f8a408;
}

.headerbillede {
  align-items: center;
  padding-top: 90px;
}

.forside_tekst {
  text-align: center;
}

.om_mig_tekst {
  padding: 20px;
}

.toptekst {
  margin-left: 66px;
}

.om_mig_billede {
  width: 600px;
  padding-bottom: 50px;
}

.topbillede {
  width: 300px;
  margin-top: 50px;
  padding-left: 30px;
}

.topbillede1 {
  width: 80%;
  margin-top: 50px;
  padding-left: 30px;
}

.bottombillede {
  margin: 46px;
  width: 500px;
  padding-bottom: 20px;
}

.bottom_billede_solo {
  margin: 34px;
  width: 100%;
  padding-right: 90px;
  padding-bottom: 20px;
}

h1 {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-family: "Playfair Display", serif;
}

h2 {
  margin-top: 56px;
  margin-left: 20px;
  margin-bottom: -15px;
  font-family: "Open Sans", sans-serif;
  font-family: "Playfair Display", serif;
}

p {
  margin-left: 20px;
  font-size: 1.25rem;
  font-family: Helvetica, sans-serif;
}

.om_mig {
  display: grid;
  grid-template-rows: 1fr;
}

.bottom {
  display: grid;
  grid-template-rows: 1fr;
}
.top {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}

.links {
  width: 140%;
}

@media (min-width: 700px) {
  .om_mig {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .bottom {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .top {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .topbillede {
    width: 400px;
    margin-top: 50px;
    padding-left: 30px;
  }

  .topbillede1 {
    width: 500px;
    margin-top: 50px;
    padding-left: 30px;
  }

  .bottombillede {
    margin: 46px;
    margin-left: 100px;
    width: 600px;
    padding-bottom: 20px;
  }

  .bottom_billede_solo {
    margin: 34px;
    width: 100%;
    padding-right: 90px;
    padding-bottom: 20px;
  }
  .links {
    width: 100%;
  }
}
